#submit-grid,#clear-grid,#erase-btn,#paint-btn {
    
    border: 1px solid rgb(37, 119, 242);
    padding: 1px 8px;
    border-radius: 10px;
    font-weight: 600;
}

#submit-grid:hover,#clear-grid:hover,#erase-btn:hover,#paint-btn:hover {
    color: rgb(37, 119, 242);
}



.gridCol {
    height: 1em;
    width: 1em;
    border: 1px solid #ddd;
}
.gridRow {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .gridCol {
        height: 0.8em;
        width: 0.8em;
    }
}