@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

#output {
    font-family: 'Roboto Mono', sans-serif; /* Default font family */
}

input[type="color" i] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 80px;
    height: 38px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

input[type="color" i]::-moz-color-swatch {
    border-radius: 5px;
    border: 4px solid transparent;
}

.textArea {
    width: 100%;
    height: 100px;
    padding: 25px 25px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    outline: none;
    resize: none;
    overflow: hidden;
    overflow-y: auto;
  }

  .btns {
    background: #ffffff;
    padding: 3px 10px;
    border-radius: 5px;
  }