@media (max-width: 600px) {
  .sidebar {
    position: absolute;
    left: -1000000px;
  }
  .bottombar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 600px) {
    
    .bottombar {
      position: absolute;
      left: -100000px;
    }
  }
